/*
 * To use this file, run:
 * ln ./.config/i3/userContent.css .mozilla/<profilepath>/chrome/userContent.css
 */

#certErrorAndCaptivePortalButtonContainer {
  margin-top: 0 !important;
}
#certErrorAndCaptivePortalButtonContainer #advancedButton {
  flex-grow: 1 !important;
  padding: 15px !important;
}

#badCertAdvancedPanel {
  position: relative;
}

#errorShortDesc,
#certificateErrorReporting {
  height: 0;
  overflow: hidden;
}

.exceptionDialogButtonContainer {
  position: absolute !important;
  top: -103px !important;
  padding: 0 !important;
  width: 100% !important;
  background: none !important;
}

#exceptionDialogButton {
  padding: 15px !important;
  width: 100% !important;
  background: #eb614d !important;
  color: white !important;
  font-weight: bold !important;
}

body.certerror {
  justify-content: flex-start !important;
}

#returnButton {
  display: none;
}
