:root {
  font-family: Lato !important;
}

#sidebar-splitter {
  opacity: 1 !important;
  background: var(--lwt-selected-tab-background-color);
  box-shadow: 0 0 5px -3px black;
  transition: all 100ms ease-in-out !important;
  margin-left: -8px !important;
  width: 8px;
}

#browser {
  background: var(--lwt-accent-color);
}

/* #browser, #TabsToolbar, .browser-toolbar {
	background-image: url(./noise.png) !important;
	background-repeat: repeat;
} */

#sidebar-splitter:not(:hover) {
  opacity: 0 !important;
}

#sidebar-header {
  display: none;
}

#toolbar-menubar[inactive="true"] + #TabsToolbar {
  display: none;
}

#navigator-toolbox {
  border: none !important;
}

#tabbrowser-tabpanels,
#appcontent {
  background: none !important;
}

#appcontent {
  padding: 8px;
}

.browserStack {
  border-radius: 10px !important;
  overflow: hidden !important;
  box-shadow: 0 0 5px black;
  background: #421500;
}

.browserStack::after {
  content: "";
  border-radius: 10px !important;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  box-shadow: 1px 1px 4px -2px #ffffff66 inset;
  z-index: 1;
}

.browserStack browser[type="content"] {
  clip-path: inset(0% 100% 0% 100% round 10px);
}

.devtools-toolbox-side-iframe {
  border-radius: 10px;
  overflow: hidden;
}

.browserSidebarContainer {
	gap: 4px;
}

.devtools-side-splitter {
  background: none;
  width: 8px;
  transition: all 100ms ease-in-out !important;
  opacity: 0.5;
}

.browserSidebarContainer {
	gap: 6px;
}

.devtools-side-splitter:not(:hover) {
	opacity: 0;
}

/* #nav-bar {
  transition: all 50ms ease-in-out !important;
  opacity: 1.0;
}

#nav-bar:not(:hover):not(:focus-within) {
  opacity: 0.5;
} */


/* Extensions panel grid */
#unified-extensions-area,
.unified-extensions-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  width: 100%;
  padding: 5px;
}

#unified-extensions-area .unified-extensions-item,
#unified-extensions-area .unified-extensions-item-action-button,
.unified-extensions-list .unified-extensions-item,
.unified-extensions-list .unified-extensions-item-action-button {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 9px !important;
  width: 100%;
}

#unified-extensions-area .unified-extensions-item .toolbarbutton-icon {
  margin-bottom: 8px;
}

#unified-extensions-area .unified-extensions-item-menu-button,
#unified-extensions-area .unified-extensions-item-message-deck {
  display: none;
}

#unified-extensions-area .unified-extensions-item-name {
  text-align: center;
  margin: 0;
  padding: 0;
}