#browser {
  padding-left: 50px;
}

#TabsToolbar {
  width: 50px !important;
  max-width: 50px;
  position: fixed;
  height: calc(100vh - 32px);
  z-index: 10;
  top: 33px;
  background: #24292e;
  box-shadow: 0 0 5px 0 #24292e;
}

.scrollbutton-up,
.scrollbutton-down,
#new-tab-button {
  display: none;
}

#toolbar-menubar[inactive="true"] {

  min-height: 100px !important;
}
#toolbar-menubar:not([inactive="true"]) + #TabsToolbar {
  height: calc(100vh - 32px - 26px);
  top: calc(33px + 27px);
}

.tabbrowser-arrowscrollbox,
.tabbrowser-arrowscrollbox .box-inherit.scrollbox-innerbox {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 50px;
}

.tab-stack {
  height: 100%;
}

.tab-bottom-line {
  background: none !important;
}

--tab-size: 40px;
.tab-content {
  background: white;
  border-radius: 50%;
  width: var(--tab-size);
  height: var(--tab-size);
  margin: 5px;
  overflow: hidden;
  border: 2px solid white;
  line-height: 1;
  box-sizing: border-box;
  transition: all 200ms;
  position: relative;
  padding: 7px;
}

.tabbrowser-tab {
  transition-property: opacity;  
}

.tabbrowser-tab[data-identity-color] .tab-background {
  border-bottom: 2px solid var(--identity-tab-color);
}

.tab-background {
  transform: rotate(-90deg);
}

.tab-icon-image {
  height: 22px;
  width: 22px;
  margin: 0;
}

#alltabs-button, .tabs-newtab-button {
  height: var(--tab-size) !important;
  width: 100%;
  padding: 0 !important;
  padding-top: 10px !important;
  visibility: visible !important;
}